* {
  margin: 0;
  padding: 0;
}

.homeContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("https://wallpaperaccess.com/full/1496233.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50rem;
}

.textHeading {
  margin-top: -14rem;
  margin-left: 4rem;
}
.textHeading h1 {
  margin-top: -3rem;
  margin-left: 7rem;
  font-size: 15rem;
}
.textHeading h2 {
  margin-left: 4rem;
  font-size: 13rem;
  font-weight: 800;
}
.textHeading h3 {
  margin-top: -1rem;
  margin-left: 5rem;
  font-size: 4rem;
  font-weight: 600;
}

.productCard {
  display: block;
  /* margin: 2rem; */
}
